# Node.js
/node_modules

# Vite
/dist

# Local environment files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS files
.DS_Store

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Production
build/
dist/

# Misc
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testem.log
/typings
