html, body {
    height:fit-content; /* Mantén la altura al 100% */
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y:unset; /* Desactiva el scroll en el body */
}

.container-header {
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: auto; /* Permite que el header sea dinámico */
    min-height: 6vh; /* Altura mínima del header */
}

.container-body {
    flex-grow: 1;
    padding: 20px;
    /* margin-top: 26vh ; Ajusta el margen según la altura del header */
    margin-bottom: 5vh ; /* Deja espacio para el footer */
    width: 100vw;
    height:fit-content;
}

.container-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 5vh;
}
