
.container-form{
    color: aliceblue;
    display: flex; 
    flex-direction: column;           
    justify-content: center;   
    align-items: center;      
}
.hr-line{
    width: 100%;
    color: blue;
    height: min-content;
}
#img-clip{
    width: 50px;
    margin-right: 8px;
}
.form-producto{
   
    display: flex; 
    flex-direction: column;           
    justify-content: center;   
    align-items: center;       
   
}
