@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.info-container{
    background-color: rgba(0, 132, 255, 0.342);
    width: 60vw;    
    margin-left: 18vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#hello{
    gap: 20px;
}
#presentacion{
    margin-top: 10px;
    font-family: "Kaushan Script", cursive;
    color: bisque;
}
#sub-title{
     color: bisque;
}
#tag-user{
    color: bisque;
    font-size: 20px;
    font-style:inherit;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}
#info-user{
    color: aliceblue;
    font-size: 18px;
}
.policy-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    
    padding-right: 20px;
   
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .policy-c:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    animation: fadeInOut 1s forwards;
  }
  /* Animación para aparecer y desaparecer */
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  #policy {
    width: 64px;
    height: 64px;
    cursor: pointer;
  }
  
  #policy:hover {
    transform: scale(1.05);
  }
  