.container-lista{
  width: 90vw;/* junto con margin-left centramos el container*/
  display: flex;  
  margin-left: 5vw;
  align-items: center;
}

.actions-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}


.table th,
.table td {
    padding: 2px 6px; /* Reducir el padding */
    text-align: center; /* Centrar el contenido */
}
.btn-update{
  border: none;
  margin-left: 15px;
}

