.card {
  width: 15rem;
}
.card:hover {
  background-color: rgba(204, 230, 255, 0.8);
}

.card-body {  
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  position: relative;
  margin-bottom: 2px;  
}

.card-text {
 
  padding-bottom: 10px;
  font-size: 12px;
  position: relative;

}
.icon-container {
  display: flex;
  flex-direction: column;
  position: absolute; 
  top: 10px; /* Ajusta según sea necesario */
  left: 10px; /* Ajusta según sea necesario */
  font-size: 14px; /* Tamaño del ícono */
  color: red; /* Color del ícono, puedes cambiarlo */  
}
.start-container{
  display: flex;
  flex-direction: column;
  position: absolute; 
  top: 10px; /* Ajusta según sea necesario */
  right: 10px; /* Ajusta según sea necesario */
  font-size: 14px; /* Tamaño del ícono */
  color: red; /* Color del ícono, puedes cambiarlo */  
}
.card-icon{
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.card-icon:hover{
  transform: scale(1.05);
}

.icon-number {
  position: absolute; /* Posiciona el número en relación al contenedor */
  top: 50%; /* Ajusta la posición vertical */
  left: 50%; /* Ajusta la posición horizontal */
  color: white; /* Color del texto */
  font-size: 18px; /* Tamaño de la fuente */
  font-weight: bold; /* Grosor del texto */
  transform: translate(-50%, -50%); /* Centra el texto sobre la imagen */
}